
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Common information</h2>


<p>This application is designed to demonstrate the technology of BlockChain and
    Ethereum- platform for the creation of decentralized online services based on the BlockChain.</p>

